@mixin section {
    padding: $padding-2;
    margin-top: calc(-100vh * .15);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}